<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:component-scan base-package="dfva_webjava.java.demo.rest" />
	<mvc:annotation-driven />
 <bean id="viewResolver"
      class="org.springframework.web.servlet.view.UrlBasedViewResolver">
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    <property name="prefix" value="/WEB-INF/jsp/"/>
    <property name="suffix" value=".jsp"/>
 </bean>

<mvc:resources mapping="/static/**" location="/WEB-INF/static/"  
	cache-period="31556926"/>
	
	 <bean
		 class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		 id="multipartResolver">
		 <!-- setting maximum upload size -->
		 <property value="100000" name="maxUploadSize" />
		 
	 </bean>

</beans>